doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/images/fav-icon.png")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    if title
      title #{title} | Stolen Skunk Water
    else
      title Stolen Skunk Water

    link(href="/css/styles.css", rel="stylesheet")
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/all.min.css", rel="stylesheet")
    script(src="/js/jquery.min.js" type="text/javascript")
    script(src="/js/popper.min.js" type="text/javascript")
    script(src="/js/bootstrap.min.js" type="text/javascript")
    script(src="/js/global.js" type="text/javascript")

    block head
     
  body
    block header
      header
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
          a.navbar-brand(href="/") Stolen Skunk Water
          button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          div.collapse.navbar-collapse(id="navbarNav")
            ul.navbar-nav
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle(href="#" id="citiesDropdown" role="button" data-toggle="dropdown" aria-hidden="true" aria-expanded="false") Cities
                div.dropdown-menu(aria-labelledby="citiesDropdown")
                  a.dropdown-item(href="/stags-end") Stag's End
                  a.dropdown-item(href="/tatlzford") Tatlzford
                  a.dropdown-item(href="/san-oleg") San Oleg
                  a.dropdown-item(href="/varnhold") Vanhold
                  a.dropdown-item(href="/plissken") Plissken
                  a.dropdown-item(href="/silverstep") Lake Silverstep Village
                  a.dropdown-item(href="/eagles-nest") Eagle's Nest
                  a.dropdown-item(href="/fort-drelev") Fort Drelev
              li.nav-item
                a.nav-link(href="/leadership") Leadership
    block content
      main
        div.container
    block footer
      footer
