@font-face{
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-VariableFont.ttf') format("truetype-variations");
  font-weight: 300 800;
  font-stretch: 75% 100%;
}
body{
  font-family: 'Open Sans', sans-serif!important;
  font-size: 16px;
  font-weight: 400;
}

.item-wrapper{
  margin-bottom:.5rem;
}



.item{
  padding: 1rem 1.25rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  border-left: .25rem solid #4e73df;
  height:100%;
  margin-bottom: .5rem;
}

.item .title{
  font-size: .75rem;
  text-transform: uppercase;
  color: #4e73df;
  font-weight: 700;
}

.item .text{
  color: #5a5c69;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}

.item i {
  color:#dddfeb;
}

.city-overview{
  margin-bottom:20px;
}
.city-stats{
  margin-bottom: 20px;
}

.leadership-wrapper img{
  height: 200px;
  object-fit: contain;
}
.leadership-wrapper .card{
  margin-bottom: 20px;
}

.leadership-wrapper .card-content{
  text-align: center;
}
